/* tablet */
@media screen and (max-width: 991px) {
  :root {
    --section-padding--large: var(--section-padding--large-tablet);
    --section-padding--medium: var(--section-padding--medium-tablet);
    --section-padding--small: var(--section-padding--small-tablet);
  }
}
/* mobile landscape*/
@media screen and (max-width: 767px) {
  :root {
    --section-padding--large: var(--section-padding--large-landscape);
    --section-padding--medium: var(--section-padding--medium-landscape);
    --section-padding--small: var(--section-padding--small-landscape);
  }
}
/* mobile portrait */
@media screen and (max-width: 478) {
  :root {
    --section-padding--large: var(--section-padding--large-portrait);
    --section-padding--medium: var(--section-padding--medium-portrait);
    --section-padding--small: var(--section-padding--small-portrait);
  }
}

/* Ensure padding and border are included in element's width and height */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent horizontal scrolling */
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* Ensure full width for main content, nav, and footer */
.page-main,
nav,
footer {
  width: 100vw;
  overflow-x: hidden; /* Prevent any child element from causing overflow */
}

/* Add global styles for consistency */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Example font */
}

/* Example for ensuring no extra spacing around elements */
.page-main {
  padding: 0;
  margin: 0;
}

/* Ensure other elements inside main are also constrained */
.page-main > * {
  max-width: 100vw;
  overflow-x: hidden;
}

.heading {
  color: black;
}

.modal_container {
  // Set initial opacity to 0 and display to none
  opacity: 0;
  display: none;
  z-index: 9;
}

.filter-button {
  background-color: transparent;
  color: black;
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.filter-button:hover {
  color: #ff0066; /* Change text color to pink on hover */
}

.lazy-load {
  opacity: 0;
  transition: opacity 300ms;
}
.lazy-load.is-loaded {
  opacity: 1;
}

.button1_letter {
  color: #ff0066;
  animation: 2s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.button1_letter-wrap {
  animation: rotate 10s linear infinite; /* Adjust duration and timing function as needed */
}
.work_list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(360px, 9fr)
  ); /* Adjust column width as needed */
  gap: 20px; /* Adjust gap between grid items as needed */
}
