/* tablet */
@media screen and (max-width: 991px) {
  :root {
    --section-padding--large: var(--section-padding--large-tablet);
    --section-padding--medium: var(--section-padding--medium-tablet);
    --section-padding--small: var(--section-padding--small-tablet);
  }
}
/* mobile landscape*/
@media screen and (max-width: 767px) {
  :root {
    --section-padding--large: var(--section-padding--large-landscape);
    --section-padding--medium: var(--section-padding--medium-landscape);
    --section-padding--small: var(--section-padding--small-landscape);
  }
}
/* mobile portrait */
@media screen and (max-width: 478) {
  :root {
    --section-padding--large: var(--section-padding--large-portrait);
    --section-padding--medium: var(--section-padding--medium-portrait);
    --section-padding--small: var(--section-padding--small-portrait);
  }
}

.js-badge {
  position: fixed;
  top: 32px;
  left: 32px;
  border-radius: 16px;
  background-color: lightblue;
  color: black;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.2;
  font-size: 14px;
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.1s ease-out;
}

.js-badge:hover {
  background-color: rgb(228, 137, 193);
}

.heading {
  color: black;
}

.modal_container {
  // Set initial opacity to 0 and display to none
  opacity: 0;
  display: none;
  z-index: 9;
}

.filter-button {
  background-color: transparent;
  color: black;
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.filter-button:hover {
  color: #ff0066; /* Change text color to pink on hover */
}

.lazy-load {
  opacity: 0;
  transition: opacity 300ms;
}
.lazy-load.is-loaded {
  opacity: 1;
}

.button1_letter {
  color: #ff0066;
  animation: 2s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.button1_letter-wrap {
  animation: rotate 10s linear infinite; /* Adjust duration and timing function as needed */
}

.work_list {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(300px, 3fr)
  ); /* Adjust column width as needed */
  gap: 20px; /* Adjust gap between grid items as needed */
}
