.js-badge {
  position: fixed;
  top: 32px;
  left: 32px;
  border-radius: 16px;
  background-color: lightblue;
  color: black;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.2;
  font-size: 14px;
  cursor: pointer;
  z-index: 10000;
  transition: background-color 0.1s ease-out;
}

.js-badge:hover {
  background-color: rgb(228, 137, 193);
}

.heading {
  color: black;
}

.modal_container {
  // Set initial opacity to 0 and display to none
  opacity: 0;
  display: none;
  z-index: 9;
}

.filter-button {
  background-color: transparent;
  color: black;
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.filter-button:hover {
  color: #ff0066; /* Change text color to pink on hover */
}

.lazy-load {
  opacity: 0;
  transition: opacity 300ms;
}
.lazy-load.is-loaded {
  opacity: 1;
}
